pandas~=1.5.3
numpy~=1.23.5
scikit-learn~=1.2.2
matplotlib~=3.7.1
seaborn~=0.12.2
opencv-python~=4.5.1
torchvision~=0.16.0
torch~=2.1.0
tqdm~=4.66.1
machine-learning-datasets~=0.1.23
captum~=0.6.0
ray~=2.7.1
alibi~=0.9.4
aif360~=0.5.0
efficientnet-pytorch~=0.7.1
pytorch-lightning~=2.1.0
torchinfo~=1.8.0
flask-compress~=1.14